Repository GSA/CHRISUpdate, pull requests merged in 2018-06, with the labels that each got.

#73 Hr links to dev
  CHRISUpdate/App.config
  CHRISUpdate/AppSettings.example
  CHRISUpdate/ConnectionStrings.example
  CHRISUpdate/Data/LoadLookupData.cs
  CHRISUpdate/Data/RetrieveData.cs
  CHRISUpdate/Data/SaveData.cs
  CHRISUpdate/HRUpdate.csproj
  CHRISUpdate/Lookups/CountryLookup.cs
  CHRISUpdate/Lookups/InvestigationLookup.cs
  CHRISUpdate/Lookups/Lookup.cs
  CHRISUpdate/Lookups/RegionLookup.cs
  CHRISUpdate/Lookups/SeparationLookup.cs
  CHRISUpdate/Lookups/StateLookup.cs
  CHRISUpdate/Mapping/CHRISMapping.cs
  CHRISUpdate/Mapping/Constants.cs
  CHRISUpdate/Mapping/EmployeeMapping.cs
  CHRISUpdate/Mapping/HRMapper.cs
  CHRISUpdate/Mapping/OrganizationMapping.cs
  CHRISUpdate/Mapping/SeparationMapping.cs
  CHRISUpdate/Mapping/SummaryMapping.cs
  CHRISUpdate/Mapping/TypeConversion.cs
  CHRISUpdate/Models/Address.cs
  CHRISUpdate/Models/Birth.cs
  CHRISUpdate/Models/Building.cs
  CHRISUpdate/Models/Chris.cs
  CHRISUpdate/Models/ChrisData.cs
  CHRISUpdate/Models/Detail.cs
  CHRISUpdate/Models/EMailData.cs
  CHRISUpdate/Models/Emergency.cs
  CHRISUpdate/Models/Employee.cs
  CHRISUpdate/Models/Investigation.cs
  CHRISUpdate/Models/Organization.cs
  CHRISUpdate/Models/Person.cs
  CHRISUpdate/Models/Phone.cs
  CHRISUpdate/Models/Position.cs
  CHRISUpdate/Models/Security.cs
  CHRISUpdate/Models/Separation.cs
  CHRISUpdate/Models/Summary.cs
  CHRISUpdate/Models/Supervisor.cs
  CHRISUpdate/Process/ProcessData.cs
  CHRISUpdate/Process/ProcessHR.cs
  CHRISUpdate/Process/ProcessSeparation.cs
  CHRISUpdate/Process/ProcessSummary.cs
  CHRISUpdate/Process/SaveData.cs
  CHRISUpdate/Process/SendSummary.cs
  CHRISUpdate/Program.cs
  CHRISUpdate/Properties/AssemblyInfo.cs
  CHRISUpdate/Templates/Summary.html
  CHRISUpdate/Utilities/CSVHelper.cs
  CHRISUpdate/Utilities/EMail.cs
  CHRISUpdate/Utilities/EmployeeComparer.cs
  CHRISUpdate/Utilities/ExtensionMethods.cs
  CHRISUpdate/Utilities/Helpers.cs
  CHRISUpdate/Utilities/Utilities.cs
  CHRISUpdate/Utilities/ValidationHelper.cs
  CHRISUpdate/Validation/ValidateHR.cs
  CHRISUpdate/Validation/ValidateSeparation.cs
  CHRISUpdate/Validation/ValidatorExtensions.cs
  CHRISUpdate/packages.config
  HRUpdate.sln
Labels: pull requests

#78 update csv helper
  CHRISUpdate/HRUpdate.csproj
  CHRISUpdate/packages.config
Labels: update

#79 update fluent validation
  CHRISUpdate/HRUpdate.csproj
  CHRISUpdate/packages.config
Labels: update

#80 Update mysql.data
  CHRISUpdate/App.config
  CHRISUpdate/HRUpdate.csproj
  CHRISUpdate/packages.config
Labels: update

#84 Add name to separation summary
  CHRISUpdate/Data/SaveData.cs
  CHRISUpdate/HRUpdate.csproj
  CHRISUpdate/Mapping/SummaryMapping.cs
  CHRISUpdate/Models/SeparationResult.cs
  CHRISUpdate/Models/Summary.cs
  CHRISUpdate/Process/ProcessSeparation.cs
  CHRISUpdate/Process/ProcessSummary.cs
Labels: enhancement

#91 Remove state country lookups from type conversion
  CHRISUpdate/Mapping/EmployeeMapping.cs
  CHRISUpdate/Mapping/TypeConversion.cs
Labels: merge
